/* Cart.css */

.cart-page-container {
    padding: 20px;
  }
  
  .cart-items-container {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .cart-item-image {
    width: 100px;
    margin-right: 20px;
    flex-shrink: 0; /* Prevent image from shrinking */
  }
  
  .cart-item-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  