.cart-page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cart-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.cart-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.product-image {
  width: 100%; /* Make image fill its container */
  height: auto; /* Maintain aspect ratio */
  border-top-left-radius: 5px; /* Apply border radius to top left and top right corners */
  border-top-right-radius: 5px;
}

.cart-item-details {
  padding: 10px;
}

.cart-item-details h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.cart-item-details p {
  font-size: 14px;
  margin-bottom: 5px;
}

.cart-item-actions {
  display: flex;
  justify-content: flex-end;
}

.cart-item-actions button {
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.total-sum {
  margin-top: 20px;
  text-align: right;
}

.total-sum h3 {
  font-size: 20px;
  font-weight: bold;
}
